# build output
dist/
# generated types
.astro/
# dependencies
node_modules/
# logs
*.log*
# environment variables
.env
.env.production
# macOS-specific files
.DS_Store
# jetbrains setting folder
.idea/
# font
*.ttf
*.otf
*.woff
*.woff2
*.eot
# temp files
.temp/
