---
import { getCollection } from 'astro:content'

import config from '@/config'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'

const { title, description } = config

const posts = (await getCollection('posts')).sort((a, b) => a.data.pub.valueOf() - b.data.pub.valueOf())
---

<!doctype html>
<html lang="zh">
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map(post => (
              <li>
                <a href={`/posts/${post.slug}`}>
                  <h4 class="title"></h4>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
