@charset "UTF-8";

/* palette */
@import './palette.css';

/* texture */
@import './texture.css';

/* article */
@import './article.css';

/* variable */
:root {
  --base-text: 'Livvic Regular', 'TsangerJinKai03 W03', sans-serif;
  --italic-base-text: 'Livvic Italic', 'TsangerJinKai03 W03', sans-serif;

  --title-text: 'Merriweather Light', 'TsangerJinKai03 W03', serif;
  --italic-title-text: 'Merriweather Light Italic', 'TsangerJinKai03 W03', serif;

  --monospace-text: 'Roboto Mono', 'LXGWWenKaiMono-Regular', monospace;
}

body {
  background-color: var(--base);
  background-image: var(--texture);
  font-size: 1.25rem;
  line-height: 1.625rem;
}

/* text */
.text {
  color: var(--text);
}

.subtext1 {
  color: var(--subtext1);
  opacity: 0.85;
}

.subtext0 {
  color: var(--subtext0);
  opacity: 0.7;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0.67rem;
}

hr {
  border-color: var(--lavender);
}
