---
import Layout from '@layouts/Common.astro'
---

<Layout title="主页">
  <h1>Astro</h1>
  <a href="/about">about</a>
  <a href="https://github.com">github</a>
  中文测试 sad sda
  <br />
  asd
</Layout>
