---
import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'

import config from '@/config/common'

interface Props {
  title: string
  description?: string
  canonicalURL?: string
  image?: string
}

const { title: siteTitle, description: siteDescription, locale } = config

const { title, description } = Astro.props
---

<html lang={locale ?? 'en'}>
  <head>
    <Head
      title={`${title} ~ ${siteTitle}`}
      description={description || siteDescription}
    >
      <slot name="head" />
    </Head>
  </head>
  <body class="text mx-auto max-w-1440px flex flex-col transition-colors-300 md:flex-row">
    <main class="px-3rem py-1.5rem md:w-7/10">
      <slot />
    </main>
    <aside class="sticky top-0 hidden h-screen px-.5rem md:block md:w-3/10">
      <Header />
      <Footer />
    </aside>
  </body>
</html>
