---
import config from '@/config'

import getPosts from '@/utils/getPosts'

// used for `/posts`
import Layout from './Common.astro'

const { title, description } = config

const posts = (await getPosts()).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<Layout {title} {description}>
  <slot />
  <ul>
    {
      posts.map(post => (
        <li>
          <a href={`/posts/${post.id}`}>
            <h4>{post.data.title}</h4>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
